# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '%env(DATABASE_HOST)%'
    database_port: '%env(DATABASE_PORT)%'
    database_name: '%env(DATABASE_NAME)%'
    database_user: '%env(DATABASE_USER)%'
    database_password: '%env(DATABASE_PASSWORD)%'
    database_root_password: '%env(DATABASE_ROOT_PASSWORD)%'
    kregistry_admin_username: '%env(KREGISTRY_ADMIN_USERNAME)%'
    kregistry_admin_password: '%env(KREGISTRY_ADMIN_PASSWORD)%'
    kregistry_base_url_path: '%env(KREGISTRY_BASE_URL_PATH)%'
    kregistry_base_path: '%env(KREGISTRY_PROXY_URL_PATH)%'
    kregistry_base_protocol: '%env(KREGISTRY_BASE_PROTOCOL)%'
    kregistry_base_domain: '%env(KREGISTRY_DOMAIN)%'
    ksearch_core_ip_address: '%env(KSEARCH_CORE_IP_ADDRESS)%'
    mailer_transport: '%env(MAILER_TRANSPORT)%'
    mailer_host: '%env(MAILER_HOST)%'
    mailer_user: '%env(MAILER_USER)%'
    mailer_password: '%env(MAILER_PASSWORD)%'
    secret: '%env(APP_SECRET)%'
    mailer_sender_name: '%env(MAILER_SENDER_NAME)%'
    mailer_sender_address: '%env(MAILER_SENDER_ADDRESS)%'
